

.root{
     -fx-background-color: linear-gradient(#fffff8, #838383);
     -fx-font-size: 10pt;
     -fx-font-family:"Book Antiqua";
     
 }
 .button{
	-fx-font-color  : #000000;
	  -fx-text-fill: black;
	-fx-width:230;
	
	 -fx-background-radius: 5em;}

